html {
    scroll-behavior: smooth;
}

/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', 'sans-serif';
}

/* Utility Classes */
.purple {
    color: blueviolet;
}

/* Navbar */
nav {
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5em;
    background-color: rgb(11, 11, 54);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    color: white
}

nav ul li a:hover {
    color: blueviolet;

}

nav ul li {
    list-style: none;
    margin: 0 1rem;
}

/* logo */
.left {
    font-size: 1.4rem;
}

/* Main */

/* About me Section */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 75rem;
    margin: auto;
}

.about img {
    width: 26.5rem;
    height: 26.5rem;
    border-radius: 50%;
    margin: 1.7rem 0;

}

.about h2 {
    margin-bottom: 0.5rem;
}

.about .my-bio {
    background-color: whitesmoke;
    color: #000;
    width: 25rem;
    padding: 0.625rem;
    margin-top: 0.525rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px #8b8eaf;
}

.about p {
    line-height: 1.7rem;
    padding: 0.3rem 0;
}

main hr {
    border: 0;
    background: blueviolet;
    height: 1.2px;
    margin: 30px 90px;
}

/* More About section */
.more-about {
    padding: 1rem 6rem;
    max-width: 90%;
    margin: auto;
}

.more-about h2 {
    margin-bottom: 0.5rem;
    text-align: center;
}

.more-about p {
    line-height: 1.7rem;
    padding: 0.4rem;
}


/* Second Section */
.second-section {
    max-width: 80vw;
    height: 70vh;
    margin: auto;
    
}

.second-section h2 {
    font-size: 1.9rem;
}

.second-section .horizontal-line {
    background: white;
    display: flex;
    width: 80vw;
    height: 2px;
    margin: 4em 0;
}

.second-section .vertical-line {
    height: 5em;
    width: 1px;
    background: white;
    margin: 0 7.5em;
}

.image-top {
    width: 33px;
    position: relative;
    top: -38px;
    left: -15px;
}

.purple {
    color: blueviolet;
}

.vertical-title {
    position: relative;
    top: 1.8em;
    right: 2em;
    width: 190px;
    font-size: 20px;
}

.vertical-desc {
    position: relative;
    top: 3.4em;
    right: 3.6em;
    width: 180px;
    font-size: 12px;
    
}
/* Scroll up button */
.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 1%;
    cursor: pointer;
}
.scroll-up img{
    border-radius: 50%;
}
.up-arrow {
    width: 3rem;
    height: 3rem;
}

/* Footer */
footer {
    background-color: black;
    height: fit-content;
}

.footer {
    display: flex;
    margin: 0 2.5em;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

footer ul li a {
    text-decoration: none;
    color: white
}

footer ul li a:hover {
    color: blueviolet;

}

footer ul li {
    list-style: none;
    margin: 0 1rem;
}

footer .copyright {
    text-align: center;
    margin-top: 2em;
}

footer .copyright a {
    text-decoration: none;
    color: white
}